html,body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  height: 100%;

}
#root{
  padding: 16px;
}


.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid rgb(228, 228, 230);
  padding: 16px;
  background-color:white;
  border-radius: 8px;
}


h1 {
  font-size: 16px;
}

.task-creator {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.task-filter {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.task {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(228, 228, 230);
  padding: 16px;
  border-radius: 6px;
}

.stats {
  background-color: rgb(250, 250, 250);
  padding: 12px;
  color: #76767b;
  font-size: 14px;
}